In [1]:
#Exmaple, do not modify!
print(5/8)
#Addition
print(7+10)

0.625
17

In [2]:
#Addition
print(5+5)
#Subtarction
print(5-5)
#Multiplication
print(3*5)
#Division
print(10/2)
#Modulus
print(18%7)
#Power
print(4**2)

10
0
15
5.0
4
16

In [8]:
#finding out the amount
P=5000
R=0.07
T=5
SI=(P*R*T)
print(SI)
A=P+SI
print(A)

1750.0000000000002
6750.0

In [6]:
#finding out the time
P=8000
R=0.087
SI=4872
X=P*R
T=(SI/X)
print(T)

7.0

In [10]:
#finding out the rate
P=3000
T=4
SI=768
X=P*T
R=(SI/X)
print(R*100)

6.4

In [14]:
print(100*(1+0.1)**7)

194.87171000000012

In [16]:
#create a variable savings
savings=100
print(savings)
#create a variable growth_multiplier
growth_multiplier=1.1
t=7
#calculate result
result=(savings*(growth_multiplier)**t)
#print result
print(result)

100
194.87171000000012

In [17]:
#create a variable desc
desc="compound interest"
#create a boolean with True value
profitable = True
print(desc)
print(profitable)

compound interest
True

In [19]:
#defining variables
A=10.7
B="This is python course"
C=False
#finding the type of variables
print(type(A))
print(type(B))
print(type(C))
print(type(savings))
print(type(desc))
print(type(profitable))
print(type(growth_multiplier))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [20]:
#assigning product of savings*growth_multiplier to year1
year1=(savings*growth_multiplier)
print(year1)

110.00000000000001

In [21]:
#finding the type of avriable
print(type(year1))

<class 'float'>

In [25]:
#assigning sum of desc and desc to doubledesc
doubledesc=(desc+desc)
#finding the type of variable
print(doubledesc)

compound interestcompound interest

In [31]:
#definition of savings and result
savings=100
result=(100*(1.10)**7)
savings1=str(savings)
result1=str(result)
#changing type float to type string and concatinating strings together
print("I started with $" + savings1 + " and now have $" + result1 + ". Awesome")

I started with $100 and now have $194.87171000000012. Awesome

In [32]:
#definition of pi_string
pi_string="3.1415926"
#converting string type to float type
pi_float=float(pi_string)
#multiplying by 2 to save this value in double_pi
double_pi=pi_float*2
print(double_pi)

6.2831852

In [35]:
"I can add intergers, like " + str(5) + " to strings."

'I can add intergers, like 5 to strings.'

In [36]:
"I said " + ("Hey "*2) + "Hey!"

'I said Hey Hey Hey!'

In [37]:
"The correct answer to this multiple choice excercise is answer number" + 2

TypeError: can only concatenate str (not "int") to str

In [38]:
True + False

1

In [1]:
#defining a variable
number=input("what is the num")
num1=float(number)

what is the num18

In [2]:
#finding whether the number is divisible by 2
if num1%2==0:
    print("even")
else:
    print("odd")

even

In [6]:
#defining variable and putting in the value
temp=input("what is the temperature")
temp1=float(temp)
#formula for converting celcius to farhenite
temp2=(temp1*1.8)+32
print(temp2, "F")

what is the temperature40
104.0 F

In [8]:
#import a package
import math
a=float(input("S1"))
b=float(input("S2"))
c=float(input("S3"))
s=(a+b+c)/2
#calculating area of traingle 
Area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print(Area)

S14
S23
S36
5.332682251925386

In [11]:
#defining a variable 
r=float(input("radius"))
#printing the value of 5
print("pi is", math.pi)
#calculating circumfrence of circle
c=2*math.pi*r
#calculating area of circle
a=(math.pi)*r**2
print(c)
print(a)

radius4
pi is 3.141592653589793
25.132741228718345
50.26548245743669

In [14]:
#defining a variable
x=int(input("what is the number"))

what is the number15

In [15]:
#checking if x is a multiple of 5
if x%5==0:
    print("multiple of 5")
else:
    print("not a multiple of 5")

multiple of 5